body {
    background-color: darkgray;
    overflow: hidden;
}

div {
    margin-left: 2%;
}

img {
    width: 18%;
    height: 18%;
    margin-left: 3%;
    margin-right: 3%;
}

.clicked-image {
    height: 100%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    z-index: 1;
    position: absolute;
    top: 0%;
}

#prev{
    z-index: 2;
    position: relative;
    margin: 100px;
    left: 240px;
    top: -200px;
}

#next{
    z-index: 2;
    position: relative;
    margin: 100px;
    left: 690px;
    top: -200px;
}

#close{
    z-index: 2;
    position: relative;
    top: -800px;
    left: 550px;
}

